@using Microsoft.AspNetCore.Identity
@using Facebook.DataBaseContext
@model Facebook.Models.PostModel

@inject UserManager<CustomUserFields> UserManager

@{

    var user = UserManager.FindByNameAsync(User.Identity.Name).Result;

}

<form asp-controller="Post" asp-action="UserPost" method="post" enctype="multipart/form-data">

    <!-- Modal -->
    <div class="modal fade" id="facebookPost" tabindex="-1" role="dialog" aria-labelledby="facebookPostTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="facebookPostTitle">Create post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>@user.FirstName @user.LastName</h5>

                    <textarea asp-for="Post" rows="10" id="postTextArea" class="form-control  border-0" placeholder="What&#x27;s on your mind, @user.FirstName?"></textarea>
                    <input class="form-control" type="file" name="image">
                </div>
                
                <div class="modal-footer">

                    <button type="submit" id="postTextButton" class="btn btn-block btn-primary" disabled="disabled">Post</button>
                </div>
            </div>
        </div>
    </div>
</form>



