@model IEnumerable<Facebook.Models.SearchUserModel>
@using Microsoft.AspNetCore.Identity
@using Facebook.DataBaseContext
@inject UserManager<CustomUserFields> UserManager

@{
    var user = UserManager.FindByNameAsync(User.Identity.Name).Result;
    ViewData["Title"] = "You Searched";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    if (Model.Count() < 1)
    {
        <h1 class="text-center mt-5 text-danger">No searches found</h1>
    }
    else
    {
        
<div class="container mt-5 pl-3">
    @{
        foreach (var item in Model)
        {
            if (item.Email != User.Identity.Name)
            {
                <a asp-action="Profile" asp-controller="Account" asp-route-email="@item.Email">@item.FirstName @item.LastName</a>
                <br />
            }

        }
    }
</div>
    }
}

